// Main
$primary-text-color: #e6e6e6;
$secondary-text-color: #888888;
$hover-text-color: #ca1414;
$button-side: 1.5rem;
$dropdown-background-color: rgba(163, 163, 163, 0.27);
$hover-background-color: rgb(24, 24, 24);


// // Gallery
// $animation-duration: .7s;