/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select {
  margin: 0; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

img,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

a {
  text-decoration: none; }

body {
  background-color: grey; }

.nav {
  width: 600px;
  padding: 1em;
  box-sizing: content-box; }
  .nav .menu-nav {
    display: flex;
    flex-direction: row; }
    .nav .menu-nav__item {
      font-family: "Lato", sans-serif;
      font-weight: 300;
      font-size: 1rem;
      font-variant: small-caps;
      letter-spacing: 0.2rem; }
    .nav .menu-nav__link {
      color: white;
      padding: 1rem; }
      .nav .menu-nav__link:hover {
        cursor: pointer;
        color: #cc0000;
        background-color: #292929; }
