/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select {
  margin: 0; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

img,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

a {
  text-decoration: none; }

body {
  background-color: black; }

.header {
  display: grid;
  grid-template-columns: 3fr 2fr; }
  .header .nav {
    padding: 1em; }
    .header .nav .menu-nav {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .header .nav .menu-nav__item {
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-size: 0.8rem;
        font-variant: small-caps;
        letter-spacing: 0.2rem; }
      .header .nav .menu-nav__link {
        color: #e6e6e6;
        padding: 1rem; }
        .header .nav .menu-nav__link:hover {
          cursor: pointer;
          color: #cc0000;
          background-color: #292929; }
  .header .logo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 2rem;
    padding-top: 1rem; }
    .header .logo__title {
      color: #e6e6e6;
      font-weight: 300;
      font-size: 1.5rem;
      font-variant: small-caps;
      text-align: center;
      letter-spacing: 0.3rem; }
    .header .logo__subtitle {
      color: #888;
      font-weight: 50;
      font-size: 1rem;
      font-variant: small-caps;
      text-align: center;
      letter-spacing: 0.3rem; }
    .header .logo__social-media {
      font-family: quicksand, sans-serif;
      font-weight: 100;
      font-size: 0.9rem;
      font-variant: small-caps;
      text-align: center;
      padding-right: 1rem;
      letter-spacing: 0.4rem; }
      .header .logo__social-media > a {
        color: #e6e6e6; }
        .header .logo__social-media > a:hover {
          color: #cc0000; }
