<%- include('./partials/header', {otherCSSFile: "404", otherJSFile: "404" }) %>
<div class="error-container">
    <img src="/img/404.jpg" alt="404_image" class="error-img">
    <h1 class="error-message">404 ERROR</h1>
</div>
<%- include('./partials/footer') %>