/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select {
  margin: 0; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

img,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

a {
  text-decoration: none; }

.galleries-list-container {
  margin-inline: 10%; }
  .galleries-list-container a {
    text-decoration: underline;
    text-decoration-thickness: .1rem; }
  .galleries-list-container .galleries-list {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .7rem; }
    .galleries-list-container .galleries-list .gallery-item {
      font-family: "Lato", sans-serif;
      color: #e6e6e6;
      font-weight: 300;
      font-size: 1rem;
      font-variant: small-caps;
      font-style: italic; }
      .galleries-list-container .galleries-list .gallery-item:hover {
        color: #ca1414; }
      @media screen and (min-width: 992px) {
        .galleries-list-container .galleries-list .gallery-item {
          font-size: 1.2rem; } }
      @media screen and (min-width: 1600px) {
        .galleries-list-container .galleries-list .gallery-item {
          font-size: 1.5rem; } }
