/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select {
  margin: 0; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

img,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

a {
  text-decoration: none; }

body {
  height: 100vh;
  font-family: "Calibri", monospace;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

a {
  color: inherit; }

.header {
  padding-top: 1rem;
  padding-bottom: 3rem; }
  @media screen and (min-width: 992px) {
    .header {
      display: flex;
      justify-content: space-between; } }
  .header .burger-button {
    position: absolute;
    top: 1rem;
    left: 2rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer; }
    @media screen and (min-width: 992px) {
      .header .burger-button {
        display: none; } }
    .header .burger-button .burger {
      height: 0.21429rem;
      margin-inline: auto;
      background-color: #e6e6e6;
      border-radius: 0.6rem;
      position: relative;
      top: 0.64286rem; }
      .header .burger-button .burger::before, .header .burger-button .burger::after {
        content: '';
        position: absolute;
        background-color: #e6e6e6;
        border-radius: 0.6rem;
        height: 0.21429rem;
        width: 100%;
        transition: transform .5s ease-in-out; }
      .header .burger-button .burger::before {
        transform: translateY(-0.42857rem); }
      .header .burger-button .burger::after {
        transform: translateY(0.42857rem); }
      .header .burger-button .burger.menu-open {
        background: transparent; }
        .header .burger-button .burger.menu-open::before {
          transform: rotate(45deg); }
        .header .burger-button .burger.menu-open::after {
          transform: rotate(-45deg); }
  .header .menu-nav {
    display: none; }
    @media screen and (min-width: 992px) {
      .header .menu-nav {
        display: flex;
        padding: 1.5rem;
        color: #e6e6e6; } }
    .header .menu-nav.menu-open {
      margin-top: 4rem;
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      color: #e6e6e6; }
    .header .menu-nav__item {
      width: fit-content; }
    .header .menu-nav__link {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-size: 0.938rem;
      font-variant: small-caps;
      letter-spacing: 0.188rem;
      padding: 1rem;
      width: 12rem;
      display: inline-block;
      white-space: nowrap; }
      .header .menu-nav__link:hover {
        color: #ca1414;
        background-color: #181818; }
      @media screen and (min-width: 992px) {
        .header .menu-nav__link {
          width: fit-content; } }
    .header .menu-nav__item-with-dropdown > .menu-nav__link.dropdown-open {
      color: #ca1414;
      background-color: #181818; }
    @media screen and (min-width: 992px) {
      .header .menu-nav__item-with-dropdown:hover > a {
        color: #ca1414;
        background-color: #181818; } }
    @media screen and (min-width: 992px) {
      .header .menu-nav__item-with-dropdown:hover > .menu-nav__dropdown-menu {
        animation: translateX 300ms ease-in-out forwards;
        transform-origin: top center;
        display: flex;
        flex-direction: column;
        color: #e6e6e6;
        background-color: rgba(163, 163, 163, 0.27); } }
    .header .menu-nav__dropdown-menu {
      display: none; }
    @media screen and (min-width: 992px) {
      .header .menu-nav__dropdown-menu {
        position: absolute; } }
    @media screen and (min-width: 992px) {
      .header .menu-nav__dropdown-item > .menu-nav__link {
        width: 12rem; } }
    .header .menu-nav__dropdown-menu.dropdown-open {
      animation: translateX 300ms ease-in-out forwards;
      transform-origin: top center;
      display: flex;
      flex-direction: column;
      color: #e6e6e6;
      background-color: rgba(163, 163, 163, 0.27); }

@keyframes translateX {
  0% {
    opacity: 0;
    transform: translateX(-5rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }
  .header .logo {
    margin-top: 2rem;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (min-width: 992px) {
      .header .logo {
        margin-left: 0;
        margin-right: 4rem; } }
    .header .logo.menu-open {
      display: none; }
    .header .logo__title {
      color: #e6e6e6;
      font-family: 'Lato', sans-serif;
      font-variant: small-caps;
      font-weight: 300;
      letter-spacing: 0.188rem;
      font-size: 1.563rem;
      white-space: nowrap; }
    .header .logo__subtitle {
      color: #888888;
      font-family: 'Quicksand', sans-serif;
      font-variant: small-caps;
      font-weight: 200;
      font-size: 1.125rem;
      letter-spacing: 0.188rem;
      text-align: center; }
    .header .logo__social-media {
      color: #e6e6e6;
      font-family: 'Quicksand', sans-serif;
      font-variant: small-caps;
      font-weight: 100;
      font-size: 1.125rem;
      letter-spacing: 0.188rem;
      text-align: center;
      white-space: nowrap; }
      .header .logo__social-media > a:hover {
        color: #ca1414; }

.footer {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem; }
  .footer.menu-open {
    display: none; }
  .footer__list-item {
    color: #e6e6e6; }
    .footer__list-item:nth-child(1) {
      margin-bottom: .5rem; }
      @media screen and (min-width: 768px) {
        .footer__list-item:nth-child(1) {
          margin: 1rem; } }
    @media screen and (min-width: 768px) {
      .footer__list-item {
        margin: 1rem; } }
  .footer__separator {
    color: #e6e6e6; }
    @media screen and (min-width: 768px) {
      .footer__separator {
        margin-inline: 1rem; } }
  .footer__paragraph {
    color: #888888;
    font-size: .9rem; }
  .footer__contact-item > a {
    font-size: .9rem;
    color: #e6e6e6;
    display: block; }
    .footer__contact-item > a:hover {
      color: #ca1414; }
  @media screen and (min-width: 768px) {
    .footer__contact-list {
      display: flex;
      flex-direction: row;
      align-items: center; } }
  .footer__rights {
    margin-top: .7rem;
    font-size: .9rem; }
    @media screen and (min-width: 768px) {
      .footer__rights {
        margin-top: 0; } }
