/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select {
  margin: 0; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

img,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

a {
  text-decoration: none; }

.thanks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .thanks-container.menu-open {
    display: none; }
  .thanks-container .thanks-img {
    height: 50vh;
    object-fit: scale-down;
    margin-bottom: 1rem; }
  .thanks-container .main-thanks-message {
    color: #e6e6e6;
    font-size: 150%;
    text-align: center;
    margin-bottom: .5rem; }
  .thanks-container .sub-thanks-message {
    color: #888888;
    text-align: center; }
