<%- include('./partials/header', {otherCSSFile: "thanks", otherJSFile: "thanks"}) %>
<div class="thanks-container">
    <img src="/img/thanks.jpg" alt="thanks_image" class="thanks-img">
    <h1 class="main-thanks-message">Thank you for contacting us!</h1>
    <p class="sub-thanks-message">We will get back to you as soon as possible</p>
</div>
<%- include('./partials/footer') %>