/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select {
  margin: 0; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

img,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

a {
  text-decoration: none; }

.contact-infos-container {
  background-color: #F9F9F9;
  width: 90%;
  margin-inline: auto;
  border-radius: .5rem;
  padding: .1rem; }
  .contact-infos-container.menu-open {
    display: none; }
  .contact-infos-container h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    font-variant: small-caps;
    letter-spacing: .4rem;
    color: #991e58;
    margin-block: 1rem; }
    @media screen and (min-width: 992px) {
      .contact-infos-container h1 {
        font-size: 1.7rem; } }
    @media screen and (min-width: 1600px) {
      .contact-infos-container h1 {
        font-size: 2rem;
        letter-spacing: .5rem; } }
  .contact-infos-container h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
    font-variant: small-caps;
    letter-spacing: .2rem;
    color: #888888;
    margin-block: .3rem;
    display: inline-block;
    border-bottom: 0.15rem solid #888888;
    padding-bottom: .1rem; }
    @media screen and (min-width: 992px) {
      .contact-infos-container h2 {
        font-size: 1.4rem; } }
    @media screen and (min-width: 1600px) {
      .contact-infos-container h2 {
        font-size: 1.5rem;
        letter-spacing: .25rem; } }
  .contact-infos-container__text {
    font-family: 'Lato', sans-serif;
    font-weight: 50;
    font-size: .9rem;
    font-weight: 100;
    color: black; }
    @media screen and (min-width: 992px) {
      .contact-infos-container__text {
        font-size: 1rem; } }
    @media screen and (min-width: 1600px) {
      .contact-infos-container__text {
        font-size: 1.1rem; } }

.contact-infos-wrapper {
  border: 0.2rem solid #991e58;
  border-radius: .5rem;
  padding: 1.5rem 1rem; }
  @media screen and (min-width: 768px) {
    .contact-infos-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (min-width: 992px) {
    .contact-infos-wrapper {
      padding-inline: 2.5rem; } }
  @media screen and (min-width: 1600px) {
    .contact-infos-wrapper {
      padding-inline: 5rem; } }

.infos .bio__intro {
  margin-block: 1rem; }

.infos .bio__availabilities {
  margin-block: 1rem; }
  .infos .bio__availabilities > li {
    list-style-type: disc;
    margin-left: 1rem; }

.infos .bio__outro {
  margin-block: 1rem; }

.infos .personal-contacts__list {
  font-family: 'Lato', sans-serif;
  font-weight: 50;
  font-size: .9rem;
  font-weight: 300;
  color: black;
  letter-spacing: .06rm;
  margin-block: 1.5rem; }
  .infos .personal-contacts__list > li {
    list-style-type: disc;
    margin-left: 1rem; }

.infos .personal-contacts .cv-link {
  color: blue; }

.contact-form__field {
  margin-top: 1rem; }
  .contact-form__field > label {
    cursor: pointer;
    color: #991e58;
    display: block;
    font-weight: 900;
    margin-bottom: .5rem; }
  .contact-form__field > input, .contact-form__field > textarea {
    border: 0.16rem solid #CCC;
    border-radius: .2rem;
    font-size: .8rem;
    padding: .25rem;
    width: 100%; }
    .contact-form__field > input.with-alert, .contact-form__field > textarea.with-alert {
      border-color: #991e58; }
  .contact-form__field .alert-message {
    color: #991e58;
    font-weight: 500;
    font-size: 1rem; }

@media screen and (min-width: 768px) {
  .contact-form .contact-form__title {
    margin-bottom: 2rem; } }

@media screen and (min-width: 1600px) {
  .contact-form .contact-form__title {
    margin-bottom: 5rem; } }

.contact-form > button {
  margin-top: 1rem;
  padding: .5rem 1rem;
  background-color: #991e58;
  color: #F9F9F9;
  border-radius: .6rem;
  cursor: pointer; }
  .contact-form > button:hover {
    color: #991e58;
    background-color: #F9F9F9;
    border-color: #991e58; }
