/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select {
  margin: 0; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

img,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

a {
  text-decoration: none; }

.contact-infos-container {
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  width: 90%;
  margin-inline: auto;
  border-radius: 0.25rem;
  max-width: 60rem;
  margin: auto; }
  @media screen and (min-width: 768px) {
    .contact-infos-container {
      flex-direction: row;
      justify-content: space-between;
      gap: 3rem; } }
  .contact-infos-container.menu-open {
    display: none; }
  .contact-infos-container__text {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: .938rem;
    font-weight: 300;
    text-align: left;
    letter-spacing: .063;
    color: black; }
  .contact-infos-container h1 {
    color: #991e58;
    font-size: 1.75rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-variant: small-caps;
    text-align: left;
    letter-spacing: .188rem; }
  .contact-infos-container h2 {
    color: #888888;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 1.125rem;
    font-variant: small-caps;
    text-align: center;
    letter-spacing: .188rem; }
  .contact-infos-container h3 {
    color: #b3b3b3;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: .875rem;
    font-variant: small-caps;
    text-align: left;
    letter-spacing: .125px; }
  @media screen and (min-width: 768px) {
    .contact-infos-container .infos {
      width: 25rem; } }
  .contact-infos-container .infos__title {
    margin-bottom: 1rem; }
  .contact-infos-container .infos .bio__title {
    margin-bottom: 2rem; }
  .contact-infos-container .infos .bio__availabilities > li {
    margin-left: 1rem; }
  .contact-infos-container .infos .bio__content {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
  .contact-infos-container .infos .personal-contacts__title {
    margin-block: 2rem; }
  .contact-infos-container .infos .personal-contacts__list {
    display: flex;
    flex-direction: column;
    gap: .1rem; }
  .contact-infos-container .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
    @media screen and (min-width: 768px) {
      .contact-infos-container .contact-form {
        width: 28.75rem; } }
    .contact-infos-container .contact-form__field > label {
      cursor: pointer;
      color: #9b0e0e;
      display: block;
      font-weight: 900;
      margin-bottom: .5rem;
      text-align: center; }
    .contact-infos-container .contact-form__field > input, .contact-infos-container .contact-form__field textarea {
      border: 0.063rem solid #CCC;
      background: #FFF;
      border-radius: .313rem;
      font: 400 .75rem/.75rem "Helvetica Neue", Helvetica, Arial, sans-serif;
      width: 100%;
      padding: .5rem; }
      .contact-infos-container .contact-form__field > input:focus, .contact-infos-container .contact-form__field textarea:focus {
        outline: none;
        border: .063rem solid #999; }
    .contact-infos-container .contact-form > button {
      width: 50%;
      margin-inline: auto;
      width: 8.438rem;
      height: 2.813rem;
      letter-spacing: .125px;
      font-family: 'Lato', sans-serif;
      cursor: pointer;
      color: #F9F9F9;
      background-color: #5a5a5a;
      border-radius: .313rem; }
      .contact-infos-container .contact-form > button:hover {
        color: #5a5a5a;
        background-color: #F9F9F9;
        border-color: #5a5a5a; }
