// For phones
// @mixin media-phones-min {
//   @media screen and (min-width: 768px) {
//     @content;
//   }
// }

// For tablets
@mixin media-tablets-min {
  @media screen and (min-width: 768px) {
    @content;
  }
}

// For small laptops
@mixin media-small-desktop-min {
  @media screen and (min-width: 992px) {
    @content;
  }
}

// For laptops and desktops
@mixin media-large-desktop-min {
  @media screen and (min-width: 1600px) {
    @content;
  }
}