@import "./reset.scss";

body {
  background-color: grey;
}

.nav {
  width: 600px;
  padding: 1em;

  .menu-nav {
    display: flex;
    flex-direction: row;
    color: white;

    .menu-nav__item {
      font-family: "Lato", sans-serif;
      font-weight: 300;
      font-size: 15px;
      font-variant: small-caps;
      letter-spacing: 3px;
      padding: 15px;

      &:hover {
        cursor: pointer;
        color: red;
        background: #181818;
      }
    }
  }
}
