@import "./reset.scss";

body {
  background-color: grey;
}

.nav {
  width: 600px;
  padding: 1em;
  box-sizing: content-box;

  .menu-nav {
    display: flex;
    flex-direction: row;

    &__item {
      font-family: "Lato", sans-serif;
      font-weight: 300;
      font-size: 1rem;
      font-variant: small-caps;
      letter-spacing: 0.2rem;

    }

    &__link {
      color: white;
      padding: 1rem;


      &:hover {
        cursor: pointer;
        color: hsl(0, 100%, 40%);
        background-color: hsl(0, 0%, 16%);
      }
  }

  }
}
