/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select {
  margin: 0; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

img,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

a {
  text-decoration: none; }

.background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; }
  .background-video.menu-open {
    display: none; }

.gallery-container {
  color: #e6e6e6;
  width: 90%;
  margin-inline: auto;
  margin-block: 1rem;
  /* for Firefox */
  scrollbar-width: none;
  /* for Internet Explorer, Edge */
  -ms-overflow-style: none;
  /* for Chrome, Safari, and Opera */ }
  .gallery-container::-webkit-scrollbar {
    display: none; }
  .gallery-container element::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */ }
  .gallery-container.menu-open {
    display: none; }
  @media screen and (min-width: 768px) {
    .gallery-container {
      height: 60vh;
      display: flex;
      overflow-x: scroll;
      width: 95%;
      gap: 1rem; } }
  .gallery-container > img {
    animation-name: reveal;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in;
    transition: transform .2s; }
    .gallery-container > img:nth-child(1) {
      animation-delay: 0.5s; }
    .gallery-container > img:nth-child(2) {
      animation-delay: 1s; }
    .gallery-container > img:nth-child(3) {
      animation-delay: 1.5s; }
    .gallery-container > img:nth-child(4) {
      animation-delay: 2s; }
    .gallery-container > img:nth-child(5) {
      animation-delay: 2.5s; }
    @media screen and (min-width: 768px) {
      .gallery-container > img:hover {
        transform: scale(1.1);
        z-index: 2; } }

@keyframes reveal {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }
