/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select {
  margin: 0; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

img,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

a {
  text-decoration: none; }

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; }

a {
  color: #e6e6e6; }
  a:hover {
    color: #cc0000; }

.header {
  color: #e6e6e6;
  display: grid;
  grid-template-columns: 1fr 6fr; }
  @media screen and (min-width: 992px) {
    .header {
      grid-template-columns: 5fr 3fr; } }
  .header .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    @media screen and (min-width: 992px) {
      .header .nav {
        justify-content: flex-start; } }
    .header .nav.menu-open {
      height: 15rem;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      height: 100vh; }
    .header .nav__button {
      width: 2rem;
      height: 2rem;
      display: grid;
      place-items: center;
      cursor: pointer;
      border: 0.1em solid #e6e6e6; }
      .header .nav__button.menu-open {
        margin-left: 1.1rem;
        margin-top: 1.4rem; }
      @media screen and (min-width: 992px) {
        .header .nav__button {
          display: none; } }
      .header .nav__button .burger {
        height: .25em;
        width: 90%;
        background-color: #e6e6e6;
        margin: 1;
        border-radius: .8rem;
        position: relative; }
        .header .nav__button .burger::before, .header .nav__button .burger::after {
          content: '';
          position: absolute;
          background-color: #e6e6e6;
          border-radius: .8em;
          height: .25em;
          width: 100%; }
        .header .nav__button .burger::before {
          transform: translateY(-0.5em); }
        .header .nav__button .burger::after {
          transform: translateY(0.5em); }
        .header .nav__button .burger.menu-open {
          background: transparent; }
          .header .nav__button .burger.menu-open::before, .header .nav__button .burger.menu-open::after {
            width: 105%;
            height: .3em; }
          .header .nav__button .burger.menu-open::before {
            transform: translateX(-0.1em) rotate(45deg); }
          .header .nav__button .burger.menu-open::after {
            transform: translateX(-0.1em) rotate(-45deg); }
    .header .nav .menu-nav {
      display: none; }
      @media screen and (min-width: 992px) {
        .header .nav .menu-nav {
          display: flex;
          margin-left: 2rem; } }
      .header .nav .menu-nav.menu-open {
        margin-top: 2rem;
        margin-left: 2rem;
        display: flex;
        width: 100%;
        align-items: flex-start;
        justify-content: space-around;
        flex-direction: column; }
      .header .nav .menu-nav__item {
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-size: .7rem;
        font-variant: small-caps;
        letter-spacing: .2rem;
        padding-right: 4rem;
        padding-block: .5rem;
        text-align: left;
        width: 13rem; }
        @media screen and (min-width: 992px) {
          .header .nav .menu-nav__item {
            padding-inline: 1.2rem;
            padding-block: .5rem;
            text-align: center;
            width: inherit; } }
        @media screen and (min-width: 1600px) {
          .header .nav .menu-nav__item {
            font-size: 1rem;
            letter-spacing: .3rem;
            white-space: nowrap;
            padding-inline: 3.5rem; } }
        .header .nav .menu-nav__item:hover {
          background-color: #181818;
          color: #cc0000; }
      .header .nav .menu-nav__link {
        padding: .5rem; }
      .header .nav .menu-nav__dropdown-menu {
        display: none; }
      .header .nav .menu-nav__dropdown-item {
        text-align: left;
        padding-block: .5rem; }
      .header .nav .menu-nav__item-with-dropdown {
        position: relative; }
      .header .nav .menu-nav__dropdown-menu {
        width: 10rem; }
      .header .nav .menu-nav__item-with-dropdown:hover > .menu-nav__dropdown-menu {
        display: flex;
        flex-direction: column;
        gap: .4rem;
        position: absolute;
        left: 13rem;
        top: 0rem;
        width: 12rem;
        padding-inline: 1rem;
        background-color: rgba(163, 163, 163, 0.27); }
        @media screen and (min-width: 992px) {
          .header .nav .menu-nav__item-with-dropdown:hover > .menu-nav__dropdown-menu {
            left: 0;
            top: 1.75rem;
            width: 100%; } }
        @media screen and (min-width: 1600px) {
          .header .nav .menu-nav__item-with-dropdown:hover > .menu-nav__dropdown-menu {
            top: 2.02rem; } }
  .header .logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem .7rem .7rem 3rem;
    padding: 1rem;
    width: 100%; }
    .header .logo.menu-open {
      display: none; }
    .header .logo__title {
      color: #e6e6e6;
      font-weight: 300;
      font-size: 1rem;
      font-variant: small-caps;
      text-align: center;
      letter-spacing: 0.3rem; }
      @media screen and (min-width: 1600px) {
        .header .logo__title {
          font-size: 1.7rem;
          letter-spacing: .5rem; } }
    .header .logo__subtitle {
      color: #888;
      font-weight: 50;
      font-size: 0.8rem;
      font-variant: small-caps;
      text-align: center;
      letter-spacing: 0.3rem; }
      @media screen and (min-width: 1600px) {
        .header .logo__subtitle {
          font-size: 1.2rem; } }
    .header .logo__social-media {
      font-family: quicksand, sans-serif;
      font-weight: 100;
      font-size: 0.7rem;
      font-variant: small-caps;
      text-align: center;
      padding-right: 1rem;
      letter-spacing: 0.4rem; }
      @media screen and (min-width: 1600px) {
        .header .logo__social-media {
          font-size: 1.1rem;
          letter-spacing: .5rem; } }
      .header .logo__social-media > a {
        color: #e6e6e6; }
        .header .logo__social-media > a:hover {
          color: #cc0000; }
  .header.menu-open {
    width: 100vw; }

.footer {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem 0; }
  .footer__list-item {
    color: #e6e6e6; }
    .footer__list-item:nth-child(1) {
      margin-bottom: .5rem; }
  .footer__separator {
    color: #e6e6e6; }
  .footer__paragraph {
    font-family: calibri,monospace;
    color: #888;
    font-size: .8rem; }
  .footer__contact-item {
    font-family: calibri,monospace;
    font-size: .8rem; }
  .footer__rights {
    margin-top: .5rem;
    font-size: .8rem; }
  @media screen and (min-width: 768px) {
    .footer__list-item {
      margin-right: 1rem; }
    .footer__contact-list {
      display: flex;
      flex-direction: row; }
    .footer__separator {
      margin: 0 1em; } }
  .footer.menu-open {
    display: none; }
