@import "./reset.scss";
@import "./variables.scss";
@import "./responsive.scss";


body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}


a {
  color: $primary-text-color;

  &:hover {
    color: $hover-text-color;
    cursor: pointer;
  }
}

.header {
  color: $primary-text-color;
  display: grid;
  grid-template-columns: 1fr 6fr;

  @include media-small-desktop-min {
    grid-template-columns: 9fr 4fr;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @include media-small-desktop-min {
      justify-content: flex-start;
    }

    &.menu-open {
      height: 15rem;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      height: 100vh;
    }

    // Closed (as a burger)
    &__button {
      position: absolute;
      top: 1.5rem;
      left: 1.5rem;
      width: 2rem;
      height: 2rem;
      display: grid;
      place-items: center;
      cursor: pointer;

      @include media-small-desktop-min {
        display: none;
      }

      .burger {
        height: .25em;
        width: 90%;
        background-color: $primary-text-color;
        margin: 1;
        border-radius: .8rem;
        position: relative;

        &::before, &::after {
          content: '';
          transition: all .5s ease-in-out;
          position: absolute;
          background-color: $primary-text-color;
          border-radius: .8em;
          height: .25em;
          width: 100%;
        }

        &::before {
          transform: translateY(-.5em);
        }

        &::after {
          transform: translateY(.5em);
        }

        &.menu-open {
          background: transparent;

          &::before, &::after {
            transition: transform .5s ease-in-out;
            width: 105%;
            height: .3em;
          }

          &::before {
            transform: translateX(-.1em) rotate(45deg);
          }

          &::after {
            transform: translateX(-.1em) rotate(-45deg);
          }
        }
      }

    }

    .menu-nav {

      // On phone screen, by default, the menu is not displayed, only on click
      // it changes
      display: none;

      @include media-small-desktop-min {
        display: flex;
        margin-left: 2rem;
      }

      &.menu-open {
        position: absolute;
        top: 5rem;
        left: 1rem;
        display: flex;
        width: 100%;
        align-items: flex-start;
        justify-content: space-around;
        flex-direction: column;
      }

      &__item {
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-size: .7rem;
        font-variant: small-caps;
        letter-spacing: .2rem;
        padding-right: 4rem;
        padding-block: .5rem;
        text-align: left;
        width: 13rem;

        @include media-small-desktop-min {
          padding-inline: 1.85rem;
          padding-block: .5rem;
          text-align: center;
          width: inherit;
        }

        @include media-large-desktop-min {
            font-size: 1rem;
            letter-spacing: .3rem;
            white-space: nowrap;
            padding-inline: 3.5rem;
        }

        &:hover {
          background-color: $hover-background-header;
          color: $hover-text-color;
        }

      }

      &__link {
        padding: .5rem;

      }

      &__dropdown-menu {
        display: none;
      }

      &__dropdown-item {
        text-align: left;
        padding-block: .5rem;
      }

      &__item-with-dropdown {
        position: relative;
      }

      &__dropdown-menu {
        width: 10rem;
      }

      &__item-with-dropdown:hover > .menu-nav__dropdown-menu {
        display: flex;
        flex-direction: column;
        gap: .4rem;
        position: absolute;
        left: 13rem;
        top: 0rem;
        width: 12rem;
        padding-inline: .3rem;
        background-color: $dropdown-menu-background-color;
        white-space: nowrap;

        @include media-small-desktop-min {
          left: 0;
          top: 1.75rem;
          width: 100%;
        }

        @include media-large-desktop-min {
          top: 2.02rem;
        }

      }

    }

  }

  .logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem .7rem .7rem 3rem;
    padding: 1rem;
    width: 100%;

    &.menu-open {
      display: none;
    }

    &__title {
      color: $primary-text-color;
      font-weight: 300;
      font-size: 1rem;
      font-variant: small-caps;
      text-align: center;
      letter-spacing: 0.3rem;

      @include media-large-desktop-min {
        font-size: 1.7rem;
        letter-spacing: .5rem;
      }
    }

    &__subtitle {
      color: $secondary-text-color;
      font-weight: 50;
      font-size: 0.8rem;
      font-variant: small-caps;
      text-align: center;
      letter-spacing: 0.3rem;

      @include media-large-desktop-min {
          font-size: 1.2rem;
         }
    }

    &__social-media {
      font-family: quicksand, sans-serif;
      font-weight: 100;
      font-size: 0.7rem;
      font-variant: small-caps;
      text-align: center;
      padding-right: 1rem;
      letter-spacing: 0.4rem;

      @include media-large-desktop-min {
        font-size: 1.1rem;
        letter-spacing: .5rem;
      }

      & > a {
        color: $primary-text-color;

        &:hover {
          color: $hover-text-color;
        }
      }
    }

  }

  &.menu-open {
    width: 100vw;
  }

}

.footer {

  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem 0;

  &__list-item {
    color: $primary-text-color;

    &:nth-child(1) {
      margin-bottom: .5rem;
    }
  }

  &__separator {
    color: $primary-text-color;
  }

  &__paragraph {
    font-family: calibri,monospace;
    color: $secondary-text-color;
    font-size: .8rem;
  }

  &__contact-item {
    font-family: calibri,monospace;
    font-size: .8rem;
  }

  &__rights {
    margin-top: .5rem;
    font-size: .8rem;
  }

  @include media-tablets-min {

    &__list-item {
      margin-right: 1rem;
    }

    &__contact-list {
      display: flex;
      flex-direction: row;
    }

    &__separator {
      margin: 0 1em;
    }

  }

  &.menu-open {
    display: none;
  }
}
