// Main
$primary-text-color: #e6e6e6;
$secondary-text-color: #888;
$hover-text-color: hsl(0, 100%, 40%);
$hover-background-header: rgb(24, 24, 24);
$dropdown-menu-background-color: rgba(163, 163, 163, .27);

// Contact
$contact-background-color: #F9F9F9;
$contact-h1-text-color: #991e58;
$contact-h2-text-color: #888888;
$contact-text-color: black;
$contact-input-color: #AAA;

// Gallery
$animation-init-delay: .5;
$animation-mul-delay: .5;
$animation-duration: 1s;