@import "./reset.scss";
@import "./variables.scss";
@import "./responsive.scss";

.background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.gallery-container {
    color: $primary-text-color;
    width: 90%;
    margin-inline: auto;
    margin-block: 1rem;

    // Not displaying the scroll bar
    /* for Firefox */
    scrollbar-width: none;
    /* for Internet Explorer, Edge */
    -ms-overflow-style: none;
    /* for Chrome, Safari, and Opera */
    &::-webkit-scrollbar {
        display: none;
    }

    element::-webkit-scrollbar {
        display: none;
        /* for Chrome, Safari, and Opera */
    }

    @include media-tablets-min {
        height: 60vh;
        display: flex;
        overflow-x: scroll;
        width: 95%;
        gap: 1rem;
    }

    & > img {
        animation-name: reveal;
        animation-duration: $animation-duration;
        animation-fill-mode: backwards;
        animation-timing-function: ease-in;
        transition: transform .2s;

        // You won't have more than 5 images on the page
        @for $i from 0 to 5 {
            &:nth-child(#{$i+1}) {
                animation-delay: #{$animation-init-delay+$animation-mul-delay*$i}s;
            }
        }

        @include media-tablets-min {
            &:hover {
                transform: scale(1.1);
                z-index: 2;
            }
        }

    }

    @keyframes reveal {
        0% {
            opacity: 0;
            visibility: hidden;
         }
        100% {
            opacity: 1;
            visibility: visible;
        }
    }
}
